<button type="button" class="btn btn-outline-success mb-3" data-toggle="modal" data-target="#addModal" (click)="openModal()">
  Добавить
</button>
<div class="row">
  <div *ngFor="let category of categories" class="col-5 card mb-2 mr-2">
    <div class="card-body">
      <h5 class="card-title">Категория: {{category.name}}</h5>
      <span>Дополнительные поля: </span>
      <span class="card-text badge badge-pill badge-primary mr-1" *ngFor="let field of category.fields">
        {{field.name}}
      </span>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Новая категория</h5>
      </div>
      <div class="modal-body">
        <label>Наименование категории:</label>
        <input type="text" class="form-control" id="categoryName" placeholder="Молоко, Фрукты, Напитки и т.п.">
        <div class="form-group">
          <div class="mt-2">
            <button type="button" class="btn btn-primary" (click)="addCategoryField()">
              Добавить поле
            </button>
          </div>
            <div *ngFor="let field of fields" class="form-group">
              <label class="mr-4 mt-2">Наименование:</label>
              <input class="form-control mb-2" type="text" placeholder="Цвет, Сорт, Вкус и т.п."/>
              <button type="button" class="btn btn-primary" (click)="addCategoryField()">
                Добавить поле
              </button>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="saveCategory()" >Сохранить</button>
      </div>
    </div>
  </div>
</div>
