.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.badge {
  font-size: 100%;
}

.card {
  border: 2px solid  navy;
  background-color: aquamarine;
}

h5 {
  color: navy;
}
